<div
  class="card bg-light"
  style="max-width: 100%; overflow: scroll; overflow-y: auto"
>
  <div *ngIf="(accountService.currentUser$ | async) == null">
    <h1 class="text-center display-4">Please sign in to see your notes!</h1>
  </div>
  <div *ngIf="(accountService.currentUser$ | async) != null">
    <div class="card-header">Notes</div>

    <div class="card-body" style="max-height: 300px" *ngFor="let note of (noteService.currentNotes$ | async)">
      <div class="card bg-light" style="max-width: 100%">
        <div class="card-header">{{ note.title }}</div>
        <div class="card-body">
          <p class="card-text">{{ note.content }}</p>
        </div>
      </div>
    </div>
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
      [maxSize]="10"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
